@font-face {
  font-family: Norse-Bold;
  src: url("./assets/fonts/Norse-Bold.otf");
}

:root {
  --title-font-size: 4rem;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.aside {
  background: url("./assets/img/background-image.jpg") top left/cover;
  flex: 2;
}

.main {
  flex: 4;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  height: 100px;
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Norse-Bold;
  font-size: var(--title-font-size);
}

#odin-lined {
  height: var(--title-font-size);
}
